---
# Only the dashes and front matter matter here
---

@import "minimal-mistakes";

/* --- Custom overrides --- */
.author__avatar img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;  /* crops nicely instead of stretching */
}
.author__avatar {
  width: 180px;
}
